.searchContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    margin-bottom: 30px;
    width: 100%;
  }

  .searchBar {
    width: 90%;
    max-width: 1200px; /* Adjust this to match the width of your hero banner */
    padding: 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
