.splashScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff; /* Adjust color for your brand */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .splashLogo {
    width: 150px; /* Adjust logo size as necessary */
    animation: fadeInZoom 1.5s ease-in-out;
  }

  @keyframes fadeInZoom {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
